/* 본문 */
body {margin:0;padding:0; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
div {padding:5px;}
a {color:#fff;text-decoration:none;}

/* hd_wrapper */
#hd #hd_wrapper {background:#000;color:#fff;text-align:center;}
#hd #hd_wrapper h2 a {font-size:3rem;}
#hd .navbar {}
#hd .navbar .container {background:#3f73d3;color: #fff;}
#hd .navbar .container .navbar-nav {flex-direction:row;display:flex;list-style:none;}
#hd .navbar .container ul li {margin-right:1%;}

/* wrapper */
#wrapper {width:80%;border:1px solid;margin:auto;margin-top:3rem;margin-bottom:3rem;}

/* ft */
#ft {background:#000;color:#fff;text-align:center;}