:root {
    --text-color1: #f0f4f5;
    --text-color2: #29a33d;
    --text-color3: #000000;
    --text-color4: #282583;
    --background-color: #644747;
    --accent-color: #00ff2a;
    --section-background-color: #3d3083;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
section {
    /*border: 1px solid #ff0047;*/
    /*background-color: var(--introduce-background-color);*/
}
a {
    text-decoration: none;
    color: var(--text-color1);
}
p {
    margin: 0;
}
li {
    list-style: none;
}
/* navber */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #644747;
    padding: 10px 12px;
}
/* logo */
.navbar_logo {
    font-size: 25px;
    color: var(--text-color1);
}
.navbar_logo i {
    color: var(--accent-color);
}
.navbar_logo:hover {
    transform: scale(1.5);
    transition-duration: 2.5s;
}

/* menu */
.navbar_menu {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar_menu li {
    padding: 10px 12px;
}
.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 5px;
}

/* icons */
.navbar_icons {
    list-style: none;
    color: var(--text-color1);
    display: flex;
    padding: 0;
}
.navbar_icons li {
    padding: 10px 12px;
}

/* navbar_toggleBtn */
.navbar_toggleBtn {
    display: none;
}

/* introduce */
section div {
    height: 80vh;
    /*background-color: var(--introduce-background-color);*/
}
/* articleFirst */
.articleFirst {
    font-size: 100%;
}
.articleFirst .f_div1 {
    position: absolute;
    width: 100%;
    background-image:linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(90, 34, 34, 0.75) 75%,
            rgba(255, 255, 255, 1) 100%
    ), url("../img/candle.gif");
    background-size: contain;
}
.articleFirst .f_div1 .fh1 {
    text-align: center;
    font-size: 1100%;
    opacity: 1;
    color: var(--text-color4);
}
.articleFirst .f_div2 {
    font-size: 100%;
    font-weight: bold;
    color: var(--text-color3);
    background-image:linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(255, 255, 255, 0.75) 90%,
            rgba(255, 255, 255, 1) 100%
    ), url("../img/myimg8-1.jpg");
    display: flex;
    background-size: cover;
}
.articleFirst .f_div2 div {
    white-space: pre-line;
    margin: 2%;
}
.articleFirst .f_div2 p {
    font-size: 3vh;
    margin: 15px;
}
.articleFirst .f_div2 .f_div_info1 {
    width: 35%;
    font-size: 160%;
}
.articleFirst .f_div2 .f_div_info1 ul{
    padding: 0;
    margin: 0;
}
.articleFirst .f_div2 .f_div_info1 li {
    padding: 2%;
}
.articleFirst .f_div2 .f_div_info2 {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.articleFirst .f_div2 .f_div_info2 div {
    margin: 0;
    width: 100%;
    height: 100%;
}
.articleFirst .f_div2 .f_div_info2 h1 {
    margin: 0;
    font-size: 6vh;
}
.articleFirst .f_div2 .f_div_info2 .f_div_skills li {
    padding: 1%;
}

/* articleSecond */
.articleSecond {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;

    /* size */
    width: 100%;
    padding-top: 10%;
}
/* s_div1 */
.articleSecond .slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 100%;
    height: 100%;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.15s;
}
.articleSecond .slide_item img {
    position: absolute;
    width: 500px;
    top: 130px;
    height: 300px;
}
.articleSecond .slide_item h1 {
    position: absolute;
    bottom: 200px;
    font-size: 5vh;
}
.articleSecond .slide_item .s_div_ds1 {
    display: flex;
    position: absolute;
    top: 510px;
    right: 400px;
    width: 50%;
}
.articleSecond .slide_item .s_div_ds2 {
    display: flex;
    position: absolute;
    top: 510px;
    right: 0;
    width: 50%;
}
.articleSecond .slide_item p {
    font-weight: bolder;
    white-space: pre-line;
}
.articleSecond .slide_item p.s_div_p1 {
    font-size: 120%;
}
.articleSecond .slide_item p.s_div_p2 {
    font-size: 105%;
}
.s_div_title {
    position: absolute;
    width: 100%;
    font-size: 9vh;
    color: var(--text-color4);
}
.s_div_title h1 {
    margin: 0;
    text-align: center;
}
.s_div1 { /* :nth-child(1) */
    /*background-color: darkgoldenrod;*/
}
.s_div2 {
    /*background-color: aqua;*/
}
/* slide_button */
.articleSecond .slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);

    /* size */
    width: 10%;
    height: 15%;
    font-size: 15vh;

    /* style */
    border-radius: 100%;
    cursor: pointer;
}
.articleSecond .s_div_prev_button {
    left: 10px;
}
.articleSecond .s_div_next_button {
    right: 10px;
}
.s_div_pagination {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
}
.s_div_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.s_div_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}

/* footer */
footer {
    text-align: center;
    width: 100%;
    color: var(--text-color1);
    background-color: var(--background-color);
    position: absolute;
}
@media screen and (max-width: 1268px) {
    .articleFirst .f_div2 .f_div_info li {
        padding: 3%;
    }
    .articleFirst .f_div1, .articleFirst .f_div2 {
        background-size: cover;
    }
}
@media screen and (max-width: 768px){
    section div {
        font-size: 110%;
        height: 50vh;
    }
    article {
        background-image: linear-gradient(
        rgba(50, 50, 50, 0.2),rgba(150, 150, 150, 1)),
        url("../img/myimg6-1.jpg");
        background-repeat: round;
    }

    /* navbar */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    /* menu*/
    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_menu.active,.navbar_icons.active {
        display: flex;
        position: absolute;
        background-color: #644747;
        width: 100%;
        left: 0;
        top: 5%;
    }

    /* introduce */

    /* .articleFirst */
    .articleFirst {
        font-size: 50%;
    }
    .articleFirst .f_div1 {
        display: flex;
        font-size: 100%;
        justify-content: center;
        align-items: center;
    }
    .articleFirst .f_div2 {
        font-size: 100%;
    }
    .articleFirst .f_div2 p {
        font-size: 350%;
    }
    .articleFirst .f_div2 .f_div_info1 {
        width: 40%;
    }
    .articleFirst .f_div2 .f_div_info2 {
        width: 60%;
        text-align: right;
    }
    .articleFirst .f_div2 .f_div_info2 h1 {
        font-size: 4vh;
    }

    /* articleSecond */
    .articleSecond {
        background-image:linear-gradient(
                to top,
                rgba(20, 20, 20, 0) 10%,
                rgba(20, 20, 20, 0.25) 25%,
                rgba(20, 20, 20, 0.5) 50%,
                rgba(255, 255, 255, 0.75) 90%,
                rgba(255, 255, 255, 1) 100%
        );
    }
    .articleSecond .s_div_title {
        font-size: 200%;
        top: 1%;
    }
    .articleSecond .slide_item img {
        width: 50%;
        height: 50%;
        top: 10px;
    }
    .articleSecond .slide_item h1 {
        bottom: 160px;
        font-size: 100%;
    }
    .articleSecond .slide_item .s_div_ds1 {
        top: 300px;
        left: 20px;
        width: 40%;
    }
    .articleSecond .slide_item p.s_div_p1 {
        font-size: 65%;
    }
    .articleSecond .slide_item .s_div_ds2 {
        top: 300px;
        right: 20px;
        width: 50%;
    }
    .articleSecond .slide_item p.s_div_p2 {
        text-align: right;
        font-size: 50%;
    }
    .articleSecond .slide_button {
        color: var(--text-color1);
        font-size: 8vh;
        top: calc(123px);
    }
    /* icons*/
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    /* toggleBtn */
    .navbar_toggleBtn {
        display: block;
        position: absolute;
        font-size: 25px;
        right: 10px;
        top: 10px;
        color: var(--accent-color);
    }
}
@media screen and (max-width: 300px) {
    .articleFirst .f_div1 {
        font-size: 70%;
    }
    .articleFirst .f_div2 {
        font-size: 70%;
    }
}