/* 본문 */
body {margin:0;padding:0; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
div {padding:5px;}
a {color:#fff;text-decoration:none;}

/* hd_wrapper */
#hd #hd_wrapper {background:#000;color:#fff;text-align:center;display:flex;display:flex;justify-content:space-evenly;align-items:center;}
#hd #hd_wrapper h2 a {font-size:2rem;}
#hd .navbar {}
#hd .navbar .container {background:#3f73d3;color:#fff;}
#hd .navbar .container .navbar-nav {flex-direction:row;display:flex;list-style:none;}
#hd .navbar .container ul li {margin-right:1%;}

/* wrapper */
#wrapper {width:80%;margin:auto;margin-top:3rem;margin-bottom:3rem;display:flex;}

/* wrapper-left */
#wrapper .wrapper-left {width:10%;text-align:center;}

/* wrapper-right */
#wrapper .wrapper-right {width:85%;border-radius:20px;text-align:center;}


#wrapper .wrapper-right .project_url, .study_url {color:rgb(25, 0, 255);}
#wrapper .wrapper-right .project_data {width:100%;}
#wrapper .wrapper-right .project_data .project {display:flex;padding-bottom: 5%;}
#wrapper .wrapper-right .project_data .project_left {width:50%;}
#wrapper .wrapper-right .project_data .project_right {text-align:left;width:49%;}
#wrapper .wrapper-right .project_data .project_img {width:90%;height:100%;display:block;margin:0 auto;backface-visibility:hidden;}
/* ft */
#ft {background:#000;color:#fff;text-align:center;}

/* media */
@media (max-width: 768px){
/* hd_wrapper */
#hd #hd_wrapper {}
#hd #hd_wrapper h2 a {}
#hd .navbar {}
#hd .navbar .container {}
#hd .navbar .container .navbar-nav {display:block;margin:0;}
#hd .navbar .container ul li {padding:1% 0 1% 0;}

/* wrapper */
#wrapper {display:contents;}

/* wrapper-left */
#wrapper .wrapper-left {width:100%;}

/* wrapper-right */
#wrapper .wrapper-right {width:100%;}


#wrapper .wrapper-right .project_url {}
#wrapper .wrapper-right .project_data {}
#wrapper .wrapper-right .project_data .project {display:inherit;padding-bottom:10%;}
#wrapper .wrapper-right .project_data .project_left {width:100%}
#wrapper .wrapper-right .project_data .project_right {width:100%}
#wrapper .wrapper-right .project_data .project_img {width:100%}

/* ft */
#ft {}
}
